*.pyc
haar/positived'
haar/samples
haar/samples.vec
core/HologramProjector/app/src/main/res/raw/john.mp4
core/HologramProjector/app/src/main/res/raw/marios.mp4
core/HologramProjector/app/src/main/res/raw/mike.mp4
core/HologramProjector/app/src/main/res/raw/mary.mp4
